* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 50px;
  background: #e554731a;
}
.header-content {
  max-width: 710px;
}
.header-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.header-description {
  margin: 32px 0 32px 0;
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.btn-primary {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 6px 30px 15px rgba(255, 143, 143, 0.09);
}
.btn-primary:hover {
  background: #ffffff;
  border: 1px solid #e55473;
  color: #e55473;
}

/* Featured Flower Section Styles */

section {
  margin-top: 130px;
}
.featured-title-content {
  max-width: 588px;
  margin: 0 auto;
  text-align: center;
}
.featured-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.featured-description {
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.flower-category {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  text-align: center;
  align-items: center;
}
.image-content-1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: #a7216226;
  position: relative;
}
.image-content-2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: #0597a026;
  position: relative;
}
.image-content-3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: #477d1126;
  position: relative;
}
.flower-image-1 {
  padding: 110px 76px 0 76px;
  bottom: 0;
}
.flower-image-2 {
  padding: 110px 76px 0 76px;
  bottom: 0;
}
.flower-image-3 {
  padding: 67px 76px 0 76px;
  bottom: 0;
}
.flower-title {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 32px;
}
