* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 50px;
  background: #e554731a;
}
.header-content {
  max-width: 710px;
}
.header-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.header-description {
  margin: 32px 0 32px 0;
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* .btn-primary {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 6px 30px 15px rgba(255, 143, 143, 0.09);
}
.btn-primary:hover {
  background: #ffffff;
  border: 1px solid #e55473;
  color: #e55473;
} */

/* Featured Flower Section Styles */

section {
  margin-top: 130px;
}
.featured-title-content {
  max-width: 588px;
  margin: 0 auto;
  text-align: center;
}
.featured-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.featured-description {
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.flower-category {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  text-align: center;
  align-items: center;
}
.image-content-1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: #a7216226;
  position: relative;
}
.image-content-2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: #0597a026;
  position: relative;
}
.image-content-3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: #477d1126;
  position: relative;
}
.flower-image-1 {
  padding: 110px 76px 0 76px;
  bottom: 0;
}
.flower-image-2 {
  padding: 110px 76px 0 76px;
  bottom: 0;
}
.flower-image-3 {
  padding: 67px 76px 0 76px;
  bottom: 0;
}
.flower-title {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 32px;
}

/* Support section styles */
.support-container {
  background-color: #2727270d;
  padding: 86px 170px;
  margin: 0 225px 0 225px;
  border-radius: 8px;
  color: #272727cc;
}
.support-info-container {
  display: flex;
  gap: 50px;
  text-align: center;
  justify-content: space-around;
}
.support-img {
  width: 88px;
  height: 88px;
  margin-bottom: 15px;
}

/* Offer Section */
.offer-container {
  background-color: #e554730d;
}
.offer-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 186px;
  padding: 100px 0;
}
.offer-info {
  text-align: center;
  max-width: 594px;
}
.offer-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.offer-description {
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0;
}

.social-section-tittle {
  text-align: center;
  max-width: 594px;
  margin: 0 auto;
}
.social-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.social-description {
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
}
.social-img-content {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 48px;
}
.social-img > img {
  width: 342px;
  border-radius: 3px;
}

/* Button style */

/* CSS */
.btn-primary,
.btn-primary:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #e55473 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00e6f644;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-primary:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "ALTERNATE TEXT";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.btn-primary:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .btn-primary,
  .btn-primary:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

/* Subscriber Style Start */
.subscribe-container {
  background-image: url("../assets/images/rectangle-9.png");
  border-radius: 8px;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-content {
  padding: 122px 0;
}
.subscribe-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.subscribe-description {
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 16px;
}
.subscribe-content > input {
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  width: 700px;
  height: 30px;
  margin-top: 48px;
}
